.wrapper {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey_light);
}

.error * {
  max-width: 500px;
  font-weight: 400;
  text-align: center;
}

.text {
  display: inline-block;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--primary);
}

